<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>148039212465-cbtmanp0t9jhnhvo1ju0cd595kp4mlue.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.148039212465-cbtmanp0t9jhnhvo1ju0cd595kp4mlue</string>
	<key>API_KEY</key>
	<string>AIzaSyBoYq43m1HztqljwpJ1_k1ShWWppHh74pQ</string>
	<key>GCM_SENDER_ID</key>
	<string>148039212465</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.testing.testappfireBase</string>
	<key>PROJECT_ID</key>
	<string>test-app-ioniks</string>
	<key>STORAGE_BUCKET</key>
	<string>test-app-ioniks.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:148039212465:ios:165f67b71a45309961f190</string>
</dict>
</plist>